@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@500&display=swap');

:host {
  /* COR BASE */
  --cor-b-12: #000;
  --cor-b-11: #121212;
  --cor-b-10: #2f2f2f;
  --cor-b-9: #404040;
  --cor-b-8: #595959;
  --cor-b-7: #707070;
  --cor-b-6: #9c9c9c;
  --cor-b-5: #b3b3b3;
  --cor-b-4: #CCC;
  --cor-b-3: #dedede;
  --cor-b-2: #ededed;
  --cor-b-1: #f1f7f7;
  --cor-b-branco: #fff;

  --cor-b-bg-preto: #070707;

  /* COR ENFASE */
  --cor-e-11: #c41d00
  --cor-e-10: #cd2c00
  --cor-e-9: #d63c00;
  --cor-e-8: #dd4c00;
  --cor-e-7: #e65c00;
  --cor-e-6: #ef6c00;
  --cor-e-5: #ff8c00;
  --cor-e-4: #ff9f33;
  --cor-e-3: #ffb347;
  --cor-e-2: #ffc65e;
  --cor-e-1: #ffda74;
  --cor-e-gradiente: linear-gradient(180deg, #FF8C00, #F0740D);

  /* ESPACAMENTO */
  --mb-4: 4px;
  --mb-8: 8px;
  --mb-12: 12px;
  --mb-16: 16px;
  --mb-20: 20px;
  --mb-24: 24px;
  --mb-32: 32px;
  --mb-36: 36px;
  --mb-40: 40px;
  --mb-48: 48px;
  --mb-60: 60px;
  --mb-72: 72px;
  --mb-80: 80px;
  --mb-120: 120px;
  --mb-160: 160px;
  --mb-200: 200px;

  /* TIPOGRAFIA */
  --font-1-xxl: 500 3rem/1.125 "Quicksand", sans-serif;
  --font-1-xl: 500 2rem/1.125 "Quicksand", sans-serif;
  --font-1-l: 500 1.5rem/1.5 "Quicksand", sans-serif;
  --font-2-l: 400 1.5rem/1.5 "Inter", sans-serif;
  --font-1-m: 500 1.125rem/1.5 "Quicksand", sans-serif;
  --font-2-m: 400 1.125rem/1.5 "Inter", sans-serif;
  --font-1-s: 500 1rem/1.5 "Quicksand", sans-serif;
  --font-2-s: 400 1rem/1.5 "Inter", sans-serif;
  --font-1-xs: 500 .875rem/1.5 "Quicksand", sans-serif;
  --font-2-xs: 400 .875rem/1.5 "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  all: unset;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-preto {
  background-color: var(--cor-b-bg-preto);
}

.bg-gradiente {
  background: var(--cor-e-gradiente);
}
